body {
    background-image: url("/images/forest.jpg");
}

.jumbotron {
    margin-left: 10px; 
    margin-right: 10px; 
    border-bottom-left-radius: 40px; 
    border-bottom-right-radius: 40px;
}

.cardHandler {
    display: inline-block;
    height: 450px;
    width: 200px;
    overflow: auto;
    margin: 3% 3% 3% 3%;
}
