body {
    background-image: url("/images/forest.jpg");
    font-family: 'Playfair Display', serif;

}

.jumbotron {
    margin-left: 10px; 
    margin-right: 10px; 
    border-bottom-left-radius: 40px; 
    border-bottom-right-radius: 40px;
}

.cardHandler {
    display: inline-block;
    height: 100%;
    width: 200px;
    overflow: auto;
    margin: 3% 3% 3% 3%;
}


.modal-content, input, .btn, textarea, .note-submit{
    border-radius: 30px;
}

.jumbotron {
    height: 250px;
}

.card-text {
    height: 70px;
}

.card-img-top {
    height: 200px;
}
.card-title {
    height: 100px;
}

.lead {
    text-decoration: underline;
}

